<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="media/UTL-logo.png"/>
  <title>UTL</title>

  <!-- BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!-- Font Awesome -->
  <link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
  />
  <!-- Google Fonts -->
  <link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
  />
  <!-- MDB -->
  <link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
  rel="stylesheet"
  />
  <!-- SWIPER -->
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
  />

  <link rel="stylesheet" href="css/Main.css" />
</head>
<body>
  <%- include('../partials/navbar'); %>

  <div class="nvfloatingcnt" >
    <div class="floatingNV<% if(vst){ %>2<% } %> justify-content-center align-items-center p-0 m-0 shadow">
      <ul class="d-flex justify-content-center align-items-center flex-column p-0 m-0" style="min-height: 350px;">
        <li class="nvicn my-2"><button title="Noticias" class="nvbtn" onclick="navigate(1)"><img src="media/Iconos/noticias.png" alt="" class="img-fluid" style="border-radius: 0;"></button></li>
        <li class="nvicn my-2"><button title="Nuestra Rectora" class="nvbtn" onclick="navigate(2)"><img src="media/Iconos/rectora.png" alt="" class="img-fluid" style="border-radius: 0;"></button></li>
        <li class="nvicn my-2"><button title="Conoce la UTL" class="nvbtn" onclick="navigate(3)"><img src="media/Iconos/conoce.png" alt="" class="img-fluid" style="border-radius: 0;"></button></li>
        <li class="nvicn my-2"><button title="Calidad" class="nvbtn" onclick="navigate(4)"><img src="media/Iconos/calidad.png" alt="" class="img-fluid" style="border-radius: 0;"></button></li>
        <li class="nvicn my-2"><button title="Normativa" class="nvbtn" onclick="navigate(5)"><img src="media/Iconos/normativa.png" alt="" class="img-fluid" style="border-radius: 0;"></button></li>
        <li class="nvicn my-2"><button title="Contacto" class="nvbtn" onclick="navigate(6)"><img src="media/Iconos/contactos.png" alt="" class="img-fluid" style="border-radius: 0;"></button></li>
      </ul>
    </div>
  </div>

  <div class="maincnt container-fluid">
    <div id="p1" class="container-fluid">
      <div class="swiper slider shadow">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="media/Carrusel/leoncosmico.png" class="img-fluid" alt=""/></div>
          <div class="swiper-slide"><img src="media/Carrusel/utlbanner.png" class="img-fluid" alt=""/></div>
          <div class="swiper-slide"><img src="media/Carrusel/leoncosmico.png" class="img-fluid" alt=""/></div>
          <div class="swiper-slide"><img src="media/Carrusel/utlbanner.png" class="img-fluid" alt=""/></div>
          <div class="swiper-slide"><img src="media/Carrusel/leoncosmico.png" class="img-fluid" alt=""/></div>
          <div class="swiper-slide"><img src="media/Carrusel/utlbanner.png" class="img-fluid" alt=""/></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

      <div class="container-fluid shadow p-1 mt-4 glass">
        <div class="container-fluid mx-4 p-4">
          <h2>Ultimas noticias</h2>
        </div>
        <div class="container-fluid d-flex flex-wrap my- justify-content-center align-items-center">
          <div class="card m-2 crds">
            <img src="media/Nosotros/Noticias/noticia_1.png" class="card-img-top" alt="Fissure in Sandstone"/>
            <div class="card-body">
              <h5 class="card-title">Egresadas y egresados UTL en 1er Encuentro de Egresados Gto</h5>
              <p class="card-text">Viernes, 29 de Septiembre de 2023</p>
              <a href="#!" class="btn btn-primary">Ver más</a>
            </div>
          </div>

          <div class="card m-2 crds">
            <img src="media/Nosotros/Noticias/noticia_2.png" class="card-img-top" alt="Fissure in Sandstone"/>
            <div class="card-body">
              <h5 class="card-title">Firma convenio la UTL con CANIRAC Y AMHML</h5>
              <p class="card-text">Miércoles, 27 de Septiembre de 2023</p>
              <a href="#!" class="btn btn-primary">Ver más</a>
            </div>
          </div>

          <div class="card m-2 crds">
            <img src="media/Nosotros/Noticias/noticia_3.png" class="card-img-top" alt="Fissure in Sandstone"/>
            <div class="card-body">
              <h5 class="card-title">LA UNIVERSIDAD TECNOLÓGICA DE LEÓN CELEBRA SU 28 ANIVERSARIO</h5>
              <p class="card-text">Martes, 26 de Septiembre de 2023.</p>
              <a href="#!" class="btn btn-primary">Ver más</a>
            </div>
          </div>

        </div>
        
      </div>
    </div>

    <div id="p2" class="container-fluid">
      <div class="container-fluid shadow p-3 glass">
        <div class="container-fluid d-flex">
          <div class="w-50 mx-auto px-3 pb-4" style="text-align: justify;">
            <div class="container-fluid p-4">
              <h2>Mensaje de nuestra rectora</h2>
            </div>

            <p class="fw-bold">Querida Comunidad UTL:</p>

            <p class="my-2 lh-base">
              Es un gusto muy especial dirigirme a todas y todos los integrantes de la Comunidad UTL: estudiantado, personal docente y administrativo, y demás plantilla actoral de nuestro entorno universitario.
            </p>
            <p class="my-2 lh-base">
              Desde marzo ya estamos de regreso a casa. Y en este deseo de normalizar nuestra vida universitaria, hemos vivenciado un proceso necesario de reencuentro, de reconocimiento, para compensar esos meses de confinamiento que afectaron nuestra forma de relacionarnos personal y colectivamente. Pero si algo nos define, es que somos una institución tecnológicamente humana, en innovación y adaptación constante.
            </p>              
            <p class="my-2 lh-base">
              Y en esta nueva realidad, que nos enfocamos en dar prioridad a la salud, atendiendo en todo momento a las medidas sanitarias para mantener a raya todo contagio. Además, es necesario, como dice nuestro Gobernador Diego Sinhué Rodríguez, reinventarnos para ser mejores, esto es, crear nuevas formas de realizar el proceso formativo, académico, administrativo para que nuestra UTL siga siendo considerada un bastión importante del ecosistema educativo guanajuatense.
            </p>
            <p class="my-2 lh-base">
              Como bien lo dice nuestro lema “Somos Leones, Somos Leonas”, les invito a construir entre todos una “guarida segura” donde prevalezca un ambiente de colaboración y convivencia, donde nos sintamos a gusto en “nuestra guarida”, promoviendo una cultura de paz y de respeto a nuestros derechos humanos fundamentales. Acorde a los nuevos tiempos, mostremos a la sociedad que la UTL es íntegra, inclusiva y sostenible.
            </p>

            <p class="fw-bold text-center m-0 p-0">Yoloxóchitl Bustamante Díez</p>
            <p class="text-center m-0 p-0">Encargada del Despacho de Rectoría</p>
          </div>
          <div class="w-50 mx-auto p-3" style="overflow: hidden;">
            <img src="media/Nosotros/Rectora.png" alt="Yoloxóchitl Bustamante Díez" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

    <div id="p3" class="container-fluid">
      
      <div class="p-4 shadow glass">
        <ul class="nav nav-pills mb-3 d-flex justify-content-end" id="ex1" role="tablist">
          <li class="nav-item" role="presentation">
            <a
              class="nav-link active"
              id="ex1-tab-1"
              data-mdb-toggle="pill"
              href="#ex1-pills-1"
              role="tab"
              aria-controls="ex1-pills-1"
              aria-selected="true"
              >Historia y Filosofia</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="ex1-tab-2"
              data-mdb-toggle="pill"
              href="#ex1-pills-2"
              role="tab"
              aria-controls="ex1-pills-2"
              aria-selected="false"
              >Organigrama</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="ex1-tab-3"
              data-mdb-toggle="pill"
              href="#ex1-pills-3"
              role="tab"
              aria-controls="ex1-pills-3"
              aria-selected="false"
              >Consejo Directivo</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="ex1-tab-4"
              data-mdb-toggle="pill"
              href="#ex1-pills-4"
              role="tab"
              aria-controls="ex1-pills-2"
              aria-selected="false"
              >PIDE</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="ex1-tab-5"
              data-mdb-toggle="pill"
              href="#ex1-pills-5"
              role="tab"
              aria-controls="ex1-pills-3"
              aria-selected="false"
              >UTL Cifras</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="ex1-tab-6"
              data-mdb-toggle="pill"
              href="#ex1-pills-6"
              role="tab"
              aria-controls="ex1-pills-2"
              aria-selected="false"
              >Planteles</a
            >
          </li>
        </ul>
        <div class="tab-content" id="ex1-content">
          <div
            class="tab-pane fade show active"
            id="ex1-pills-1"
            role="tabpanel"
            aria-labelledby="ex1-tab-1"
          >

            <div class="container-fluid shadow p-3 glass">
              <div class="container-fluid mx-4 p-4">
                <h2>Historia</h2>
              </div>
              <div class="container-fluid d-flex">
                <div class="w-50 mx-auto" style="overflow: hidden;">
                  <img src="media/Nosotros/Conoce/historia.png" alt="" class="img-fluid">
                </div>
                <div class="w-50 mx-auto px-4" style="text-align: justify;">
                  <p class="my-2 lh-base">
                    La Universidad Tecnológica de León inició su funcionamiento el 26 de septiembre de 1995, con la inauguración de cursos efectuada por el C. Vicente Fox Quesada, Gobernador Constitucional del Estado de Guanajuato, ante la presencia de altas personalidades del gobierno federal, estatal, municipal y la comunidad universitaria.
                  </p>
                  <p class="my-2 lh-base">
                    Desde el 25 de septiembre de 1995 y hasta la fecha, formamos ciudadanos y ciudadanas de bien, con pensamiento global y acción local, con innovación, profundos valores humanos y universales y sobre todo, brindando educación tecnológica y de calidad, orientada a la industria 4.0 y la mente-factura”. 
                  </p>
                </div>
              </div>
            </div>
            <div class="container-fluid shadow p-3 mt-4 glass">
              <div class="container-fluid mx-4 p-4">
                <h2>Filosofia</h2>
              </div>
              <div class="container-fluid d-flex" style="text-align: justify;">
                <div class="w-50 mx-auto px-4">
                  <p class="fw-bold ms-5">Mision</p>
      
                  <p class="my-2 lh-base">
                    Formar ciudadanos/as del mundo con educación tecnológica de calidad a través de la docencia, la investigación aplicada, la difusión del conocimiento y la vinculación, que contribuyan a la innovación y al desarrollo sustentable.
                  </p>
      
                  <p class="fw-bold ms-5">Vision</p>
      
                  <p class="my-2 lh-base">
                    Somos una universidad reconocida por su calidad internacional, sus aportaciones al desarrollo de la tecnología y al bienestar de la sociedad.
                  </p>
      
                  <p class="fw-bold ms-5">Valores</p>
      
                  <p class="my-2 lh-base">
                    <span class="fw-bold">Dignidad:</span> Es el valor intrínseco de las personas, así como de los objetos y situaciones en cuanto contribuyen a la realización personal.
                  </p>
                  <p class="my-2 lh-base">
                    <span class="fw-bold">Honestidad:</span> Tener conciencia clara de lo que está bien en nuestra propia conducta y en nuestra relación con los demás 
                  </p>
                  <p class="my-2 lh-base">
                    <span class="fw-bold">Libertad:</span> Tomar decisiones propias y expresar ideales aceptando las diferencias con el resto de las personas.
                  </p>
                  <p class="my-2 lh-base">
                    <span class="fw-bold">Busqueda de la verdad:</span> Cualidad de la inteligencia por la cual el ser humano se capacita y perfecciona para llegar a las causas de las cosas.
                  </p>
                  <p class="my-2 lh-base">
                    <span class="fw-bold">Responsabilidad:</span> Cumplir con las obligaciones y trabajos asignados según las normas establecidas.
                  </p>
                  <p class="my-2 lh-base">
                    <span class="fw-bold">Justicia:</span> Conjunto de principios que adopta una comunidad a fin de asegurar el orden y la convivencia entre sus miembros. 
                  </p>
                </div>
                <div class="w-50 mx-auto" style="overflow: hidden;">
                  <img src="media/Nosotros/Conoce/filosofia.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>

          </div>

          <div class="tab-pane fade" id="ex1-pills-2" role="tabpanel" aria-labelledby="ex1-tab-2">
              
            <div class="container-fluid shadow glass">
              <img src="media/Nosotros/Estructura_UTL.png" alt="" class="img-fluid">
            </div>

          </div>

          <div class="tab-pane fade" id="ex1-pills-3" role="tabpanel" aria-labelledby="ex1-tab-3">
            
            <div class="container-fluid shadow p-3 glass">
              <div class="container-fluid d-flex">
                <div class="w-50 mx-auto px-4" style="text-align: justify;">
                  <div class="container-fluid mx-2 p-4">
                    <h2>Consejo Directivo</h2>
                  </div>
                  <p class="my-2 lh-base">
                    Es el máximo órgano de gobierno de la universidad y en conjunto con la Rectoría, son los responsables de su dirección y administración.
                  </p>
                  <p class="my-2 lh-base">
                    El Consejo Directivo está integrado de la siguiente manera:
                  </p>
                  <p>
                    <ol style="list-style: upper-roman;">
                      <li>Tres representantes del Gobierno del Estado de Guanajuato, que serán nombrados por el Gobernador y lo presidirá quien él designe;</li>
                      <li>Tres representantes del Gobierno Federal, designados por el Secretario de Educación Pública;</li>
                      <li>Un representante del Gobierno Municipal designado por el H. Ayuntamiento, donde se ubique la universidad;</li>
                      <li>Dos representantes del Sector Productivo, a invitación del Ejecutivo Estatal.</li>
                    </ol>
                  </p>
                </div>

                <div class="w-50 mx-auto px-4" style="text-align: justify;">
                  <object data="media/Nosotros/ReglamentoConsejoDirectivo.pdf" type="application/pdf" width="100%" height="450px">
                    <p>No ha sido posible cargar el archivo. <a href="media/Nosotros/ReglamentoConsejoDirectivo.pdf" target="_blank">Descargar</a>.</p>
                  </object>
                </div>
              </div>
            </div>

            <div class="container-fluid shadow p-3 mt-4 glass">
              <div class="container-fluid d-flex">
                <div class="w-50 mx-auto px-4" style="text-align: justify;">
                  <h2>Informes Anuales</h2>
                  <div class="container-fluid d-flex justify-content-center align-items-center my-4">
                    <a href="" class="btn btn-outline-primary rounded-pill m-2 w-25">0000 - 0000</a>
                    <a href="" class="btn btn-outline-primary rounded-pill m-2 w-25">0000 - 0000</a>
                    <a href="" class="btn btn-outline-primary rounded-pill m-2 w-25">0000 - 0000</a>
                    <a href="" class="btn btn-outline-primary rounded-pill m-2 w-25">0000 - 0000</a>
                  </div>
                </div>

                <div class="w-50 mx-auto px-4" style="text-align: justify;">
                  <h2>Informes Cuatrimestrales</h2>
                  <div class="container-fluid d-flex justify-content-center align-items-center my-4">
                    <a href="" class="btn btn-outline-primary rounded-pill m-2 w-25">0000 - 0000</a>
                    <a href="" class="btn btn-outline-primary rounded-pill m-2 w-25">0000 - 0000</a>
                    <a href="" class="btn btn-outline-primary rounded-pill m-2 w-25">0000 - 0000</a>
                    <a href="" class="btn btn-outline-primary rounded-pill m-2 w-25">0000 - 0000</a>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="tab-pane fade" id="ex1-pills-4" role="tabpanel" aria-labelledby="ex1-tab-4">
            
            <div class="container-fluid shadow p-3 glass">
              <div class="container-fluid d-flex">
                <div class="w-50 mx-auto px-4">
                  <div class="container-fluid mx-2 p-4">
                    <h2>Plan Institucional de Desarrollo 2021-2025 (PIDE)</h2>
                  </div>
                  <div class="container-fluid d-flex">

                    <div class="w-50 m-2">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Macro Proceso Institucional Académico</h5>
                          <p class="card-text" style="text-align: justify;">
                            Objetivo general: Asegurar y mejorar la calidad de la capacidad y competitividad académica, 
                            así como los elementos que intervienen en el proceso de enseñanza-aprendizaje.
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="w-50 m-2">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Macro Proceso Institucional Vinculación</h5>
                          <p class="card-text"style="text-align: justify;">
                           Objetivo general: Crear interacciones permanentes entre la universidad y los sectores sociales.
                          </p>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="container-fluid d-flex">

                    <div class="w-50 m-2">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Macro Proceso Institucional Administración</h5>
                          <p class="card-text" style="text-align: justify;">
                            Objetivo general: Utilizar racional y efectivamente los recursos humanos,
                            materiales y financieros con el fin de cumplir con los objetivos Institucionales.
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="w-50 m-2">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Macro Proceso Institucional Ambiental</h5>
                          <p class="card-text" style="text-align: justify;">
                            Objetivo general: Promover la responsabilidad social universitaria por medio de la cultura 
                            del cuidado del medio ambiente en las actividades que emprenda la universidad.
                          </p>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="w-50 mx-auto px-4" style="text-align: justify;">
                  <object data="media/Nosotros/PIDEUTL2021-2025.pdf" type="application/pdf" width="100%" height="700px">
                    <p>No ha sido posible cargar el archivo. <a href="media/Nosotros/PIDEUTL2021-2025.pdf" target="_blank">Descargar</a>.</p>
                  </object>
                </div>
              </div>
            </div>

          </div>

          <div class="tab-pane fade" id="ex1-pills-5" role="tabpanel" aria-labelledby="ex1-tab-5">
            
            <div class="container-fluid shadow p-3 glass">
              <div class="container-fluid d-flex">
                <div class="w-100 mx-auto px-4" style="text-align: justify;">
                  <div class="container-fluid mx-2 p-4">
                    <h2>UTL en Cifras</h2>
                  </div>
                  <div class="w-75 mx-auto d-flex flex-column p-3">
                    <a class="btn m-2" style="line-height: 30px; background-color: rgba(0, 48, 130, 1); color: white;" href="">Información Financiera</a>
                    <div class="container-fluid d-flex">
                      <a class="btn w-50 m-2" style="line-height: 30px; background-color: rgba(0, 48, 130, 1); color: white;" href="">Plan anual de compras</a>
                      <a class="btn w-50 m-2" style="line-height: 30px; background-color: rgba(0, 48, 130, 1); color: white;" href="">Presupuesto 2022</a>
                    </div>
                    <a class="btn m-2" style="line-height: 30px; background-color: rgba(0, 48, 130, .7); color: white;" href="">Matrícula 2018 a 2023</a>
                    <a class="btn m-2" style="line-height: 30px; background-color: rgba(0, 48, 130, .7); color: white;" href="">Matrícula 2018 a 2023 por género</a>
                    <a class="btn m-2" style="line-height: 30px; background-color: rgba(0, 48, 130, .7); color: white;" href="">Absorción</a>
                    <a class="btn m-2" style="line-height: 30px; background-color: rgba(0, 48, 130, .7); color: white;" href="">Población atendida</a>
                    <a class="btn m-2" style="line-height: 30px; background-color: rgba(0, 48, 130, .7); color: white;" href="">Eficiencia Terminal</a>
                    <a class="btn m-2" style="line-height: 30px; background-color: rgba(0, 48, 130, .7); color: white;" href="">Histórico de egresados</a>
                    <a class="btn m-2" style="line-height: 30px; background-color: rgba(0, 48, 130, .7); color: white;" href="">Modelo Dual</a>
                    <a class="btn m-2" style="line-height: 30px; background-color: rgba(0, 48, 130, .7); color: white;" href="">Calidad</a>
                  </div>
                </div>

                <!-- <div class="w-50 mx-auto p-3" style="overflow: hidden;">
                  <img src="media/Nosotros/Rectora.png" alt="" class="img-fluid">
                </div> -->

              </div>
            </div>

          </div>

          <div class="tab-pane fade" id="ex1-pills-6" role="tabpanel" aria-labelledby="ex1-tab-6">

            <div class="container-fluid d-flex flex-column p-3 shadow glass">
              <div class="container-fluid mx-2 p-4">
                <h2>Planteles</h2>
              </div>

              <div class="conatiner-fluid d-flex">
                <div style="width: 30%;" class="card mx-auto">
                  <img src="media/Nosotros/Conoce/campus_1.png" class="card-img-top" alt="Fissure in Sandstone"/>
                  <div class="card-body">
                    <h5 class="card-title">Campus Central León</h5>
                    <p class="card-text">La Universidad Tecnológica de León se ubica al sureste de la ciudad de León, Guanajuato, a un costado del Hospital Regional de Alta Especialidad del Bajío, a la altura del Puente del Milenio.</p>
                    <a href="https://www.google.com/maps?ll=21.063617,-101.581649&z=14&t=m&hl=es-419&gl=MX&mapclient=embed&cid=12094572520549580682" class="btn btn-primary">¿Cómo llegar?</a>
                  </div>
                </div>
      
                <div style="width: 30%;" class="card mx-auto">
                  <img src="media/Nosotros/Conoce/campus_2.png" class="card-img-top" alt="Fissure in Sandstone"/>
                  <div class="card-body">
                    <h5 class="card-title">Campus II León</h5>
                    <p class="card-text">El campus II León está ubicado en Camino a Granja Santa Teresa s/n, Predio San Carlos</p>
                    <a href="https://www.google.com/maps?ll=21.069967,-101.574452&z=16&t=m&hl=es-419&gl=MX&mapclient=embed&cid=8037250043387039574" class="btn btn-primary">¿Cómo llegar?</a>
                  </div>
                </div>
      
                <div style="width: 30%;" class="card mx-auto">
                  <img src="media/Nosotros/Conoce/campus_acambaro.png" class="card-img-top" alt="Fissure in Sandstone"/>
                  <div class="card-body">
                    <h5 class="card-title">Campus Acámbaro</h5>
                    <p class="card-text">La Universidad Tecnológica de León, Campus Acámbaro, se encuentra ubicado en carretera Acámbaro - Tarandacuao Km. 8 San Miguel El Puerto, Gto.</p>
                    <a href="https://www.google.com/maps?ll=20.02933,-100.638624&z=17&t=m&hl=en&gl=MX&mapclient=embed&cid=18094360258257536228" class="btn btn-primary">¿Cómo llegar?</a>
                  </div>
                </div>
              </div>
            </div>

            <iframe class="container-fluid shadow glass mt-4 p-0" style="min-height: 70vh; overflow: hidden;" src="https://www.google.com/maps/d/embed?mid=1K8vpQcEI_kn0BnM1AxjJgDJjq5akuBQ&ehbc=2E312F&noprof=1"></iframe>
          </div>
        </div>
      </div>

    </div>

    <div id="p4" class="container-fluid">

      <div class="p-4 shadow glass">
        <ul class="nav nav-pills mb-3 d-flex justify-content-end" id="ex1" role="tablist">
          <li class="nav-item" role="presentation">
            <a
              class="nav-link active"
              id="ex1-tab-7"
              data-mdb-toggle="pill"
              href="#ex1-pills-7"
              role="tab"
              aria-controls="ex1-pills-7"
              aria-selected="true"
              >Política de Calidad Integral</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="ex1-tab-8"
              data-mdb-toggle="pill"
              href="#ex1-pills-8"
              role="tab"
              aria-controls="ex1-pills-8"
              aria-selected="false"
              >Certificaciones</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="ex1-tab-9"
              data-mdb-toggle="pill"
              href="#ex1-pills-9"
              role="tab"
              aria-controls="ex1-pills-9"
              aria-selected="false"
              >Acreditaciones</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="ex1-tab-10"
              data-mdb-toggle="pill"
              href="#ex1-pills-10"
              role="tab"
              aria-controls="ex1-pills-10"
              aria-selected="false"
              >Sistema de Gestión Ambiental</a
            >
          </li>
        </ul>
        <div class="tab-content" id="ex1-content">
          <div
            class="tab-pane fade show active"
            id="ex1-pills-7"
            role="tabpanel"
            aria-labelledby="ex1-tab-7"
          >
            
            <div class="container-fluid shadow p-3 glass">
              <div class="container-fluid d-flex">
                <div class="w-100 mx-auto px-4" style="text-align: justify;">
                  <div class="container-fluid mx-2 p-4">
                    <h2>Política de Calidad Integral</h2>
                  </div>
                  <p class="my-2 lh-base">Nos comprometemos en brindar satisfacción a nuestros clientes y nuestras clientas, a través de los servicios de educación superior tecnológica, de apoyo a los sectores productivo y social e incubación de negocios, así como prevenir la contaminación de los aspectos ambientales institucionales, cumpliendo con la normativa ambiental aplicable, promoviendo y difundiendo los principios de sustentabilidad a las partes interesadas, a través de la mejora continua del Sistema de Gestión Integral.</p>
                </div>
              </div>
            </div>

            <div class="container-fluid shadow p-3 glass mt-4">
              <div class="container-fluid d-flex">
                <div class="w-50 mx-auto p-3" style="overflow: hidden;">
                  <img src="media/Nosotros/Calidad/calidad.png" alt="" class="img-fluid">
                </div>

                <div class="w-50 mx-auto px-4" style="text-align: justify;">
                  <div class="container-fluid mx-2 p-4">
                    <h2>Objetivos de Calidad Integral</h2>
                  </div>
                  <h4 class="my-3 end-0">Academico</h4>
                  <p class="ms-5 my-2 lh-base">Contribuir a la formación de ciudadanos y ciudadanas del mundo que detonen el desarrollo de su entorno con valores, conocimientos y experiencias académicas, a través de la ejecución del proceso educativo.</p>
                  
                  <h4 class="my-3 end-0">Servicios de apoyo al sector productivo y social</h4>
                  <p class="ms-5 my-2 lh-base">Fortalecer la vinculación académica con los sectores productivo y social en la aportación de soluciones tecnológicas a necesidades específicas, a través de estrategias innovadoras y de capacitación especializada que contribuyan al desarrollo sustentable.</p>

                  <h4 class="my-3 end-0">Incubacion de negocios</h4>
                  <p class="ms-5 my-2 lh-base">Fomentar una cultura de emprendimiento e innovación para la creación, desarrollo y consolidación de empresas a través de la incubación de negocios, ideas y proyectos, generados entre la comunidad universitaria y la sociedad en general.</p>

                  <h4 class="my-3 end-0">Ambiental</h4>
                  <p class="ms-5 my-2 lh-base">Promover la cultura de cuidado del medio ambiente para minimizar los impactos ambientales institucionales, cumplir la normativa aplicable y difundir a las partes interesadas los principios de sustentabilidad.</p>
                </div>
              </div>
            </div>

          </div>

          <div class="tab-pane fade" id="ex1-pills-8" role="tabpanel" aria-labelledby="ex1-tab-8">

            <div class="container-fluid shadow p-3 glass mb-4">
              <div class="container-fluid d-flex">                
                <div class="w-50 mx-auto px-4" style="text-align: justify;">
                  <div class="container-fluid mx-2 p-4">
                    <h2>Objetivos de Calidad Integral</h2>
                  </div>
                  
                  <p class="ms-5 my-2 lh-base">Promover la cultura de cuidado del medio ambiente para minimizar los impactos ambientales institucionales, cumplir la normativa aplicable y difundir a las partes interesadas los principios de sustentabilidad.</p>
                </div>

                <div class="w-50 mx-auto p-3" style="overflow: hidden; height: 250px">
                  <img src="media/Nosotros/Calidad/certificacion.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>

            <div class="container-fluid d-flex">
              <div class="w-50 m-2 glass shadow">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Recertificación en ISO 9001:2015 mayo 2021 con vigencia de tres años</h5>
                    <p class="card-text">
                      Certificado del Sistema de Gestión de Calidad aplicable a los procesos de desarrollo y 
                      provisión de servicios educativos para los niveles de técnico/a superior universitario/a y de licenciatura e ingeniería; 
                      servicios de apoyo al sector productivo y social y de incubación de negocios.
                    </p>
                  </div>
                </div>
              </div>

              <div class="w-50 m-2 glass shadow">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Recertificación en ISO 14001:2015 mayo 2021 con vigencia de tres años</h5>
                    <p class="card-text">
                      Certificado del Sistema de Gestión Ambiental aplicable a los procesos de desarrollo y provisión de servicios 
                      educativos para los niveles de técnico/a superior universitario/a y de licenciatura e ingeniería, 
                      así como de servicios a la industria y de incubación de negocios.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="container-fluid d-flex mt-4">
              <div class="w-50 mx-2 p-4 shadow glass" style="text-align: justify;">
                <object data="media/Nosotros/Certificación de ISO 9K&14K.pdf" type="application/pdf" width="100%" height="450px">
                  <p>No ha sido posible cargar el archivo. <a href="media/Nosotros/Certificación de ISO 9K&14K.pdf" target="_blank">Descargar</a>.</p>
                </object>
              </div>
  
              <div class="w-50 mx-2 p-4  shadow glass" style="text-align: justify;">
                <object data="media/Nosotros/CERTIFICADOS documento para aprobación.pdf" type="application/pdf" width="100%" height="450px">
                  <p>No ha sido posible cargar el archivo. <a href="media/Nosotros/CERTIFICADOS documento para aprobación.pdf" target="_blank">Descargar</a>.</p>
                </object>
              </div>
            </div>

          </div>

          <div class="tab-pane fade" id="ex1-pills-9" role="tabpanel" aria-labelledby="ex1-tab-9">
            <div class="container-fluid shadow p-3 glass mb-4">
              <div class="container-fluid d-flex">                
                <div class="w-100 mx-auto px-4" style="text-align: justify;">
                  <div class="container-fluid mx-2 px-4">
                    <h2>Acreditaciones</h2>
                  </div>

                  <!-- <div class="conatiner-fluid shadow glass my-4" style="height: 280px; overflow: hidden;"><img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.web" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;" alt=""/></div> -->
                  
                  <table>
                    <thead style="background-color: rgba(0, 48, 130, 1); color: white !important;">
                      <tr>
                        <td class="ColorBotonLibre white--text">SEDE / NIVEL</td>
                        <td class="ColorBotonLibre white--text">PROGRAMA EDUCATIVO</td>
                        <td class="ColorBotonLibre white--text">ORGANISMO ACREDITADOR</td>
                        <td colspan="2" class="ColorBotonLibre white--text">VIGENCIA</td>
                        <td class="ColorBotonLibre white--text">LINK</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="background-color: rgba(0, 48, 130, .6); color: white;" rowspan="9">LEÓN TSU</td>
                      </tr>
                      <tr>
                        <td>Administración, Área Recursos Humanos</td>
                        <td>CACECA Consejo de Acreditación en la Enseñanza de&nbsp; la Contaduría y Administración A.C.</td>
                        <td>31/10/2016</td> <td>31/10/2021</td>
                        <td><a href="public_html/calidad/acreditaciones/a)Administración área Recursos Humanos 16- 21.pdf" target="blank">Constancia de acreditación</a></td>
                      </tr>
                      <tr>
                        <td>Desarrollo de Negocios, Área Mercadotecnia</td>
                        <td>CACECA Consejo de Acreditación en la Enseñanza de&nbsp; la Contaduría y Administración A.C.</td>
                        <td>31/10/2016</td> <td>31/10/2021</td> <td><a href="public_html/calidad/acreditaciones/b)Desarrollo de Negocios Área Mercadotecnia 16-21.pdf" target="blank">Constancia de acreditación</a></td>
                      </tr>
                      <tr>
                        <td>Turismo, Área Hotelería</td>
                        <td>CONAET Consejo Nacional para la Calidad de la Educación Turística A.C.</td>
                        <td>03/03/2017</td> <td>02/03/2022</td> <td><a href="public_html/calidad/acreditaciones/c)Turismo Área Hotelería 17-22.pdf" target="blank">Constancia de acreditación</a></td>
                      </tr>
                      <tr>
                        <td>Mecatrónica, Área Manufactura Flexible</td>
                        <td>CACEI Consejo de Acreditación de la Enseñanza de la Ingeniería A.C.</td>
                        <td>16/08/2018</td> <td>15/08/2023</td> <td><a href="public_html/calidad/acreditaciones/d)Mecatronica Área Sistemas de Manufactura Flexible 18-23.pdf" target="blank">Constancia de acreditación</a></td>
                      </tr>
                      <tr>
                        <td>Procesos Industriales, Área Manufactura</td>
                        <td>CACEI Consejo de Acreditación de la Enseñanza de la Ingeniería A.C.</td>
                        <td>16/08/2018</td> <td>15/08/2023</td> <td><a href="public_html/calidad/acreditaciones/e)Procesos Industriales Area Manufactura 18-23.pdf" target="blank">Constancia de acreditación</a></td>
                      </tr>
                      <tr>
                        <td>Procesos Industriales, Área Gestión y Productividad del Calzado</td>
                        <td>CACEI Consejo de Acreditación de la Enseñanza de la Ingeniería A.C.</td>
                        <td>16/08/2018</td> <td>15/08/2023</td> <td><a href="public_html/calidad/acreditaciones/f)Gestion y Productividad del Calzado 18-23.pdf" target="blank">Constancia de acreditación</a></td>
                      </tr>
                      <tr>
                        <td>Química, Área Tecnología Ambiental</td>
                        <td>CACEI Consejo de Acreditación de la Enseñanza de la Ingeniería A.C.</td>
                        <td>16/08/2018</td> <td>15/08/2023</td> <td><a href="public_html/calidad/acreditaciones/g)Quimica are Tecnologia Ambiental 18-23.pdf" target="blank">Constancia de acreditación</a></td>
                      </tr>
                      <tr>
                        <td>Gastronomía</td>
                        <td>CONAET Consejo Nacional para la Calidad de la Educación Turística A.C.</td>
                        <td>26/02/2020</td> <td>25/02/2025</td>
                        <td><a href="public_html/calidad/acreditaciones/h)Gastronomía 20-25.pdf" target="blank">Constancia de acreditación</a></td>
                      </tr>
                      <tr>
                        <td style="background-color: rgba(0, 48, 130, .6); color: white;" rowspan="4">UAS TSU</td>
                        <td>Administración, Área Recursos Humanos</td>
                        <td>CACECA Consejo de Acreditación en la Enseñanza de  la Contaduría y Administración A.C.</td>
                        <td>22/03/2019</td>
                        <td>21/03/2024</td>
                        <td>-</td>
                      </tr>
                      <tr>
                        <td>Desarrollo de Negocios, Área Mercadotecnia</td>
                        <td>CACECA Consejo de Acreditación en la Enseñanza de  la Contaduría y Administración A.C.</td>
                        <td>22/03/2019</td>
                        <td>21/03/2024</td>
                        <td>-</td>
                      </tr>
                      <tr>
                        <td>Procesos Industriales, Área Manufactura</td>
                        <td>CIEES Comites Interinstitucionales para la Evaluación de la Educación Superior</td>
                        <td>05/2021	</td>
                        <td>06/2026</td>
                        <td><a href="public_html/calidad/acreditaciones/i)Procesos Industriales Área Manufactura 21-26.pdf" target="blank">Constancia de acreditación</a></td>
                      </tr>
                      <tr>
                        <td>Tecnologías de la Información y Comunicación, Área Multimedia y Comercio Electrónico</td>
                        <td>CONAIC Consejo Nacional de Acreditación en Informática y Computación, A.C.</td>
                        <td>26/0372021	</td>
                        <td>26/03/2026</td>
                        <td><a href="public_html/calidad/acreditaciones/j)Tecnologías de la Información y Comunicación área Multimedia y Comercio Electrónico.pdf" target="blank">Constancia de acreditación</a></td>
                      </tr>
                      <tr>
                        <td style="background-color: rgba(0, 48, 130, .6); color: white;" rowspan="3">LEÓN/ING</td>
                        <td>Ingeniería en Desarrollo e Innovación Empresarial</td>
                        <td>CACECA Consejo de Acreditación en la Enseñanza de&nbsp; la Contaduría y Administración A.C.</td>
                        <td>29/12/2017</td>
                        <td>29/12/2022</td>
                        <td><a href="public_html/calidad/acreditaciones/k)Ingeniería en Desarrollo e Innovación Empresarial 17-22.pdf" target="blank">Constancia de acreditación</a></td>
                      </tr>
                      <tr>
                        <td>Ingeniería en Tecnología Ambiental</td>
                        <td>CACEI Consejo de Acreditación de la enseñanza de la Ingeniería, A.C.</td>
                        <td>11/08/2021</td> <td>10/08/2024</td> <td><a href="public_html/calidad/acreditaciones/l)Ingeniería en Tecnología Ambiental 21-24.pdf" target="blank">Constancia de acreditación</a></td>
                      </tr>
                      <tr>
                        <td>Licenciatura en Gestión y Desarrollo Turístico</td>
                        <td>CONAET  Consejo Nacional para la Calidad de la Educación Turística A.C.</td>
                        <td>13/03/2019	</td>
                        <td>12/03/2024</td>
                        <td>-</td>
                      </tr>
                      <tr>
                        <td style="background-color: rgba(0, 48, 130, .6); color: white;">UAS/ING</td>
                        <td>Ingeniería en Tecnologías de la Información</td>
                        <td>CONAIC Consejo Nacional de Acreditación en Informática y Computación, A.C.</td>
                        <td>28/04/2021</td>
                        <td>27/04/2026</td>
                        <td><a href="public_html/calidad/acreditaciones/m)Ingeniería en Tecnologías de la Información.pdf" target="blank">Constancia de acreditación</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="ex1-pills-10" role="tabpanel" aria-labelledby="ex1-tab-10">
            <div class="container-fluid shadow p-3 glass">
              <div class="container-fluid d-flex">
                <div class="w-50 mx-auto px-4" style="text-align: justify;">
                  <div class="container-fluid mx-2 p-4">
                    <h2>Sistema de Gestión Ambiental</h2>
                  </div>
                  <p class="my-2 lh-base">Nos comprometemos en brindar satisfacción a nuestros clientes y nuestras clientas, a través de los servicios de educación superior tecnológica, de apoyo a los sectores productivo y social e incubación de negocios, así como prevenir la contaminación de los aspectos ambientales institucionales, cumpliendo con la normativa ambiental aplicable, promoviendo y difundiendo los principios de sustentabilidad a las partes interesadas, a través de la mejora continua del Sistema de Gestión Integral.</p>
                </div>

                <div class="w-50 mx-auto p-3" style="overflow: hidden;">
                  <img src="media/Nosotros/Calidad/logo_sgi.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>

            <div class="container-fluid d-flex mt-4">
              <div style="width: 30%;" class="m-auto glass shadow">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">ASPECTOS AMBIENTALES SIGNIFICATIVOS</h5>
                    <p class="card-text">
                      <li>Consumo de agua</li>
                      <li>Generación de agua residual</li>
                      <li>Generación de residuos de manejo especial</li>
                      <li>Generación de residuos peligrosos</li>
                      <li>Consumo de papel</li>
                      <li>Consumo de energía eléctrica</li>
                    </p>
                  </div>
                </div>
              </div>

              <div style="width: 30%;" class="m-auto glass shadow">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">METAS AMBIENTALES</h5>
                    <p class="card-text">
                      <li>Cumplir las metas ambientales establecidas en el Programa Institucional de Mejora del Desempeño Ambiental</li>
                      <li>Cumplir con la legislación ambiental aplicable a los Aspectos Ambientales de la Universidad</li>
                      <li>Difundir en la comunidad universitaria los principios del desarrollo sustentable en materia de consumo de agua, manejo de residuos, consumo de energía eléctrica, uso del papel</li>
                    </p>
                  </div>
                </div>
              </div>

              <div style="width: 30%;" class="m-auto glass shadow">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">PROGRAMAS AMBIENTALES</h5>
                    <p class="card-text">
                      Programa Institucional Ambiental:
                      <li>Manejo integral de residuos</li>
                      <li>Aprovechamiento y cuidado del agua</li>
                      <li>Consumo eficiente de energía eléctrica</li>
                      <li>Uso eficiente del papel</li>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div id="p5" class="container-fluid">

      <div class="container-fluid shadow p-3 glass">
        <div class="container-fluid px-5 my-4">
          <h2>Normativa Externa</h2>
        </div>

        <div class="conatiner-fluid shadow glass m-4" style="height: 300px; overflow: hidden;"><img src="media/Nosotros/Normativa/normas.png" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;" alt=""/></div>

        <div class="container-fluid d-flex">
          <div class="w-25 mx-auto px-4" style="text-align: justify;">
            <h4>Ambito Federal</h4>
            <div class="container-fluid my-4">
              <ul>
                <li><a href="">Constitución Política de los Estados Unidos Mexicanos</a></li>
                <li><a href="">Ley General de Educación </a></li>
                <li><a href="">Ley General de Educación Superior</a></li>
                <li><a href="">Ley del Trabajo de los Servidores Públicos al Servicio del Estado</a></li>
                <li><a href="">Ley del ISSSTE</a></li>
                <li><a href="">Marco normativo de la DGUTyP</a></li>
              </ul>
            </div>

            <h4 class="mt-4">Ambito Municipal</h4>
            <div class="container-fluid my-4">
              <ul>
                <li><a href="">Marco Normativo Municipal</a></li>
              </ul>
            </div>
          </div>

          <div class="w-75 mx-auto px-4" style="text-align: justify;">
            <h4>Ambito Estatal</h4>
            <div class="container-fluid my-4">
              <ul>
                <li><a href="">Constitución Política para el Estado de Guanajuato</a></li>
                <li><a href="">Ley de Educación para el Estado de Guanajuato</a></li>
                <li><a href="">Ley de Seguridad Social del Estado de Guanajuato</a></li>
                <li><a href="">Ley Orgánica del Poder Ejecutivo para el Estado de Guanajuato.</a></li>
                <li><a href="">Ley para una Convivencia Libre de Violencia en el Entorno Escolar para el Estado de Guanajuato y sus Municipios</a></li>
                <li><a href="">Ley para Prevenir, Atender y Erradicar la Violencia en el Estado de Guanajuato</a></li>
                <li><a href="">Ley del Presupuesto General de Egresos del Estado de Guanajuato para el Ejercicio Fiscal de 2022</a></li>
                <li><a href="">Ley de Contrataciones Públicas para el Estado de Guanajuato de la Administración Pública Estatal</a></li>
                <li><a href="">Ley de Archivos Generales del Estado y los Municipios de Guanajuato para el Poder Ejecutivo
                  Reglamento de la Ley de Archivos Generales del Estado y los Municipios de Guanajuato para el Poder Ejecutivo</a></li>
                <li><a href="">Reglamento de la Ley de Contrataciones Públicas para el Estado de Guanajuato de la Administración Pública Estatal</a></li>
                <li><a href="">Condiciones Generales de Trabajo para las Dependencias, Entidades Y Unidades de Apoyo de la Administración Pública del Estado de Guanajuato</a></li>
                <li><a href="">Ley del Trabajo de los Servidores Públicos al Servicio del Estado y de los Municipios
                  Ley General de Archivos</a></li>
                <li><a href="">Ley de Transparencia y Acceso a la Información Pública para el Estado de Guanajuato</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid shadow p-3 mt-4 glass">
        <div class="container-fluid px-5 my-4">
          <h2>Normativa Interna</h2>
        </div>
        
        <div class="conatiner-fluid shadow glass m-4" style="height: 300px; overflow: hidden;"><img src="media/Nosotros/Normativa/politicas_lineamientos.png" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;" alt=""/></div>

        <div class="container-fluid d-flex">
          <div class="w-50 mx-auto px-4" style="text-align: justify;">
            <h4>Ambito Administrativo</h4>
            <div class="container-fluid my-4">
              <ul>
                <li><a href="">Lineamientos Convenios y Contratos UTL</a></li>
                <li><a href="">Decreto 240</a></li>
                <li><a href="">Reglamento Interior de la Universidad Tecnológica de León</a></li>
                <li><a href="">Reglamento del Consejo Directivo</a></li>
                <li><a href="">Reglamento de Ingresos Propios</a></li>
                <li><a href="">Reglamento RIPPPA</a></li>
                <li><a href="">Código de Conducta</a></li>
                <li><a href="">Políticas para Establecer la Carga Académica del profesorado de la Universidad Tecnológica de León</a></li>
                <li><a href="">Políticas de uso de estacionamiento</a></li>
                <li><a href="">Criterios Generales para la Organización de los Archivos</a></li>
              </ul>
            </div>
          </div>

          <div class="w-50 mx-auto px-4" style="text-align: justify;">
            <h4>Ambito Educativo</h4>
            <div class="container-fluid my-4">
              <ul>
                <li><a href="">Decreto 240</a></li>
                <li><a href="">Reglamento Interior de la Universidad Tecnológica de León</a></li>
                <li><a href="">Reglamento Académico</a></li>
                <li><a href="">Reglamento de Servicios Bibliotecarios</a></li>
                <li><a href="">Lineamientos Generales del Centro de Información</a></li>
                <li><a href="">Presea León UTL</a></li>
                <li><a href="">Presea Moneda UTL</a></li>
                <li><a href="">Reglamento Deportivo</a></li>
              </ul>
            </div>

            <h4 class="mt-4">Ambito Laboral</h4>
            <div class="container-fluid my-4">
              <ul>
                <li><a href="">Decreto 240</a></li>
                <li><a href="">Reglamento Interior de la Universidad Tecnológica de León</a></li>
                <li><a href="">Contrato Colectivo</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div id="p6" class="container-fluid">

      <div class="p-4 shadow glass">
        <ul class="nav nav-pills mb-3 d-flex justify-content-end" id="ex1" role="tablist">
          <li class="nav-item" role="presentation">
            <a
              class="nav-link active"
              id="ex1-tab-11"
              data-mdb-toggle="pill"
              href="#ex1-pills-11"
              role="tab"
              aria-controls="ex1-pills-11"
              aria-selected="true"
              >Directorio</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="ex1-tab-12"
              data-mdb-toggle="pill"
              href="#ex1-pills-12"
              role="tab"
              aria-controls="ex1-pills-12"
              aria-selected="false"
              >Oficina Virtual Escolares</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="ex1-tab-13"
              data-mdb-toggle="pill"
              href="#ex1-pills-13"
              role="tab"
              aria-controls="ex1-pills-13"
              aria-selected="false"
              >Buzón de Atención de Acoso y Hostigamiento Sexual</a
            >
          </li>
        </ul>

        <div class="tab-content" id="ex1-content">
          <div
            class="tab-pane fade show active"
            id="ex1-pills-11"
            role="tabpanel"
            aria-labelledby="ex1-tab-11"
          >
            
            <div class="container-fluid shadow p-3 glass mb-4">
              <div class="container-fluid d-flex">                
                <div class="w-100 mx-auto px-4" style="text-align: justify;">
                  <div class="container-fluid mx-2 px-4 mt-4">
                    <h2>Directorio</h2>
                  </div>

                  <!-- <div class="conatiner-fluid shadow glass my-4" style="height: 300px; overflow: hidden;"><img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;" alt=""/></div> -->
                  
                  <table>
                    <thead class="v-data-table-header" style="background-color: rgba(0, 48, 130, 1); color: white; line-height: 50px;">
                      <tr>
                        <th role="columnheader" scope="col" aria-label="Ext." class="text-start"><span>Ext.</span></th>
                        <th role="columnheader" scope="col" aria-label="Nombre" class="text-start"><span>Nombre</span></th>
                        <th role="columnheader" scope="col" aria-label="Puesto" class="text-start"><span>Puesto</span></th>
                        <th role="columnheader" scope="col" aria-label="Depto." class="text-start"><span>Depto.</span></th>
                        <th role="columnheader" scope="col" aria-label="Email" class="text-start"><span>Email</span></th>
                        <th role="columnheader" scope="col" aria-label="Servicio" class="text-start"><span>Servicio</span></th>
                        <th role="columnheader" scope="col" aria-label="Edificio" class="text-start"><span>Edificio</span></th>
                        <th role="columnheader" scope="col" aria-label="Planta" class="text-start"><span>Planta</span></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="">
                        <td class="text-start">128</td>
                        <td class="text-start">Liliana Estrada Afanador</td>
                        <td class="text-start">Jefatura de Servicios Escolares</td>
                        <td class="text-start">Subdirección de Servicios Estudiantiles</td>
                        <td class="text-start">lestrada@utleon.edu.mx</td>
                        <td class="text-start">Servicios Escolares</td>
                        <td class="text-start">CVD</td>
                        <td class="text-start">Baja</td>
                      </tr>
                      <tr class="">
                        <td class="text-start">202</td>
                        <td class="text-start">Laura Berenice Rodríguez Rangel</td>
                        <td class="text-start">Subdirectora de Servicios Estudiantiles</td>
                        <td class="text-start">Subdirección de Servicios Estudiantiles</td>
                        <td class="text-start">lrodriguezr@utleon.edu.mx</td>
                        <td class="text-start">Servicios Escolares</td>
                        <td class="text-start">CVD</td>
                        <td class="text-start">Baja</td>
                      </tr>
                      <tr class="">
                        <td class="text-start">205</td>
                        <td class="text-start">Ana Gabriela Martínez Soto</td>
                        <td class="text-start">Coordinador de becas</td>
                        <td class="text-start">Subdirección de Servicios Estudiantiles</td>
                        <td class="text-start">agmartinez@utleon.edu.mx</td>
                        <td class="text-start">Becas</td>
                        <td class="text-start">CVD</td>
                        <td class="text-start">Baja</td>
                      </tr>
                      <tr class="">
                        <td class="text-start">206</td>
                        <td class="text-start">Alma Delia Salazar Arteaga</td>
                        <td class="text-start">Titulación</td>
                        <td class="text-start">Subdirección de Servicios Estudiantiles</td>
                        <td class="text-start">aarteaga@utleon.edu.mx</td>
                        <td class="text-start">Titulación</td>
                        <td class="text-start">CVD</td>
                        <td class="text-start">Baja</td>
                      </tr>
                      <tr class="">
                        <td class="text-start">210</td>
                        <td class="text-start">José Omar Ramírez Barajas</td>
                        <td class="text-start">Control de Planeación Escolar</td>
                        <td class="text-start">Subdirección de Servicios Estudiantiles</td>
                        <td class="text-start">jramirezb@utleon.edu.mx</td>
                        <td class="text-start">Bajas</td>
                        <td class="text-start">CVD</td>
                        <td class="text-start">Baja</td>
                      </tr>
                      <tr class="">
                        <td class="text-start">296</td>
                        <td class="text-start">Luis Alejandro Gonzalez Castro</td>
                        <td class="text-start">Asesor Estudiantil</td>
                        <td class="text-start">Subdirección de Servicios Estudiantiles</td>
                        <td class="text-start">lgonzalezc@utleon.edu.mx</td>
                        <td class="text-start">Asesor de Escolares</td>
                        <td class="text-start">CVD</td>
                        <td class="text-start">Baja</td>
                      </tr>
                      <tr class="">
                        <td class="text-start">297</td>
                        <td class="text-start">Brenda Isabel Tellez Reyes</td>
                        <td class="text-start">Asesor de Atención a Alumnos</td>
                        <td class="text-start">Subdirección de Servicios Estudiantiles</td>
                        <td class="text-start">btellez@utleon.edu.mx</td>
                        <td class="text-start">Asesor de Escolares</td>
                        <td class="text-start">CVD</td>
                        <td class="text-start">Baja</td>
                      </tr>
                      <tr class="">
                        <td class="text-start">452</td>
                        <td class="text-start">Evangelina Torres Padilla</td>
                        <td class="text-start">Asesor de Atención a Alumnos</td>
                        <td class="text-start">Subdirección de Servicios Estudiantiles</td>
                        <td class="text-start">etorresp@utleon.edu.mx</td>
                        <td class="text-start">Asesor de Escolares</td>
                        <td class="text-start">CVD</td>
                        <td class="text-start">Baja</td>
                      </tr>
                      <tr class="">
                        <td class="text-start">602</td>
                        <td class="text-start">Geraldyne Jiménez Contreras</td>
                        <td class="text-start">Coordinadora de Admisiones</td>
                        <td class="text-start">Subdirección de Servicios Estudiantiles</td>
                        <td class="text-start">gjimenez@utleon.edu.mx</td>
                        <td class="text-start">Admisiones</td>
                        <td class="text-start">CVD</td>
                        <td class="text-start">Baja</td>
                      </tr>
                      <tr class="">
                        <td class="text-start">115</td>
                        <td class="text-start">Luis Enrique Pérez Naveda</td>
                        <td class="text-start">Docente</td>
                        <td class="text-start">Dirección de Área Económico Administrativa</td>
                        <td class="text-start">leperez@utleon.edu.mx</td>
                        <td class="text-start">Gestor de carrera</td>
                        <td class="text-start">A</td>
                        <td class="text-start">Alta</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>

          <div class="tab-pane fade" id="ex1-pills-12" role="tabpanel" aria-labelledby="ex1-tab-12">
            
            <div class="container-fluid shadow glass p-0 d-flex justify-content-center" style="overflow: hidden;">
              <a style="width: 100%; overflow: hidden;" href="https://zoom.us/j/96138425219?pwd=RlNqSTM0WVZZK0w5N212SkFnL0lVUT09#success" target="_blank">
                <img src="media/Nosotros/Banner_oficina virtual escolares.png" alt="" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
              </a>
            </div>

          </div>

          <div class="tab-pane fade" id="ex1-pills-13" role="tabpanel" aria-labelledby="ex1-tab-13">
            
            <div class="container-fluid d-flex shadow glass">
              <div class="container-fluid mx-auto p-3 mb-4" style="text-align: justify;">
                <div class="container-fluid p-4">
                  <h2>Buzón de Atención de Acoso y Hostigamiento Sexual</h2>
                </div>

                <div class="conatiner-fluid shadow glass my-4" style="height: 300px; overflow: hidden;"><img src="media/Nosotros/Contacto/buzon.png" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;" alt=""/></div>
    
                <h4>Te invitamos a presentar tu queja si sientes que eres víctima de:</h4>

                <p class="fw-bold">Violencia laboral y docente</p>
                <p class="my-2 lh-base">
                  Se ejerce por las personas que tienen un vínculo laboral, docente o análogo con la víctima, independientemente de la relación jerárquica, consistente en un acto o una omisión en abuso de poder que daña la autoestima, salud, integridad, libertad y seguridad de la víctima, e impide su desarrollo y atenta contra la igualdad.
                </p>

                <p class="fw-bold">Acoso sexual</p>
                <p class="my-2 lh-base">
                  Es una forma de violencia en la que, si bien no existe la subordinación, hay un ejercicio abusivo de poder que conlleva a un estado de indefensión y de riesgo para la víctima, independientemente de que se realice en uno o varios eventos.
                </p>

                <p class="fw-bold">Hostigamiento sexual</p>
                <p class="my-2 lh-base">
                  El hostigamiento sexual es el ejercicio del poder, en una relación de subordinación real de la víctima frente al agresor en los ámbitos laboral y/o escolar. Se expresa en conductas verbales, físicas o ambas, relacionadas con la sexualidad de connotación lasciva.
                </p>

                <p class="fw-bold">Hostigamiento relacionado con un premio/castigo</p>
                <p class="my-2 lh-base">
                  solicitar favores sexuales a cambio de beneficios en el trabajo, ascensos o aumentos de salario. Su negación provoca represalias o despidos. Suele producirse entre quienes realizan labores de supervisión y personal subordinado. Hostigamiento laboral: insultos y hostilidad de colegas de trabajo o de personal supervisor a quien se ha rechazado. Estas conductas resultan inaceptables e intolerantes en un lugar de trabajo.
                </p>

                <p class="fw-bold">Mobbing o acoso laboral</p>
                <p class="my-2 lh-base">
                  Conocido con el término anglosajón mobbing consiste en acciones de intimidación moral, social, psicológica de forma sistemática y persistente que atentan contra la dignidad o la integridad de las personas en sus lugares de trabajo. Es una forma muy frecuente de violencia en el ámbito laboral y puede ser ejercida por personas de jerarquías superiores hacia personas con un rango menor, entre iguales, de hombres a mujeres o viceversa; entre personas del mismo sexo; entre personal del mismo nivel jerárquico o hacia su jefa o jefe. En cualquier caso, son prácticas perjudiciales que es necesario erradicar de los ambientes laborales.
                </p>

                <p class="fw-bold">Discriminación</p>
                <p class="my-2 lh-base">
                  Toda distinción, exclusión, restricción o preferencia que, por acción u misión, con intención o sin ella, no sea objetiva, racional ni proporcional y tenga por objeto o resultado obstaculizar, restringir, impedir, menoscabar o anular el reconocimiento, goce o ejercicio de los derechos humanos y libertades, cuando se base en uno o más de los siguientes motivos: el origen étnico o nacional, el color de piel, la cultura, el sexo, el género, la edad, las discapacidades, la condición social, económica, de saludo jurídica, la religión, la apariencia física, las características genéticas, la situación migratoria, el embarazo, la lengua, las opiniones, las preferencias sexuales, la identidad o filiación política, el estado civil, la situación familiar, las responsabilidades familiares, el idioma, los antecedentes penales o cualquier otro motivo;
                </p>
                <p class="my-2 lh-base">
                  También se entenderá como discriminación la homofobia, misoginia, cualquier manifestación de xenofobia, segregación racial, antisemitismo, así como la discriminación racial y otras formas conexas de intolerancia.
                </p>

                <p class="fw-bold">Discriminación Laboral</p>
                <p class="my-2 lh-base">
                  No podrán establecerse condiciones que impliquen discriminación entre los trabajadores por motivo de origen étnico o nacional, género, edad, discapacidad, condición social, condiciones de salud, religión, condición migratoria, opiniones, preferencias sexuales, estado civil o cualquier otro que atente contra la dignidad humana.
                </p>

                <p class="fw-bold">La persona que presenta la queja deberá:</p>
                <ul>
                  <li>Escribir datos reales y completos (nombre y correo electrónico) para poder dar un seguimiento puntual a su caso.</li>
                  <li>El Planteamiento de la queja sin ambigüedades.</li>
                  <li>El contenido no debe ser con lenguaje impropio.</li>
                </ul>
                <p class="my-2 lh-base">
                  El Comité de atención a presuntos casos de violencia, acoso y hostigamiento sexual deberá dar atención y manejar la información de la queja de manera confidencial.
                </p>
              </div>
            </div>

            <div class="contauiner-fluid shadow p-5 mt-4 glass">
              
              <form>
                <!-- Name input -->
                <div class="form-outline mb-4">
                  <input type="text" id="form4Example1" class="form-control" />
                  <label class="form-label" for="form4Example1">Name</label>
                </div>
              
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form4Example2" class="form-control" />
                  <label class="form-label" for="form4Example2">Email address</label>
                </div>
              
                <!-- Message input -->
                <div class="form-outline mb-4">
                  <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                  <label class="form-label" for="form4Example3">Message</label>
                </div>
              
                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form4Example4" checked />
                  <label class="form-check-label" for="form4Example4">
                    Send me a copy of this message
                  </label>
                </div>
              
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
              </form>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <%- include('../partials/footer'); %>

  <!-- BOOTSTRAP -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <!-- MDB -->
  <script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"
  ></script>
  <!-- SWIPER -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <script src="js/Main.js"></script>
</body>
</html>
