<!-- Footer -->
<footer class="patter text-center text-white shadow">

    <div class="w-100 p-0 m-0">
      <img src="media/banda.png" alt="" class="w-100" style="border-radius: 0;">
    </div>

    <!-- Grid container -->
    <div class="container p-4">
  
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-primary btn-floating m-1" style="border: 1px solid white; background-color: transparent;" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
  
        <!-- Twitter -->
        <a class="btn btn-primary btn-floating m-1" style="border: 1px solid white; background-color: transparent;" href="#!" role="button"><i class="fab fa-x"></i></a>
  
        <!-- Google -->
        <a class="btn btn-primary btn-floating m-1" style="border: 1px solid white; background-color: transparent;" href="#!" role="button"><i class="fab fa-whatsapp"></i></a>
  
        <!-- Instagram -->
        <a class="btn btn-primary btn-floating m-1" style="border: 1px solid white; background-color: transparent;" href="#!" role="button"><i class="fab fa-instagram"></i></a>
  
        <!-- Youtube -->
        <a class="btn btn-primary btn-floating m-1" style="border: 1px solid white; background-color: transparent;" href="#!" role="button"><i class="fab fa-youtube"></i></a>
      </section>
      <!-- Section: Social media -->
  
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Recibe las ultimas noticias</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example2" class="form-control" />
                <label class="form-label" for="form5Example2">Correo electronico</label>
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
  
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-light rounded-pill mb-4">
                Agregar
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
            Blvd. Universidad Tecnológica #225 Col. San Carlos
        </p>
        <p>
            CP. 37670 León, Gto. Mex. l Tel (477) 7 10 00 20
        </p>
      </section>
      <!-- Section: Text -->
  
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Docentes</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Normativa</a>
              </li>
              <li>
                <a href="#!" class="text-white">Investigación UTL</a>
              </li>
              <li>
                <a href="#!" class="text-white">Salud Integral</a>
              </li>
              <li>
                <a href="#!" class="text-white">Contáctanos</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Estudiante</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Trámites Escolares</a>
              </li>
              <li>
                <a href="#!" class="text-white">Servicios</a>
              </li>
              <li>
                <a href="#!" class="text-white">Normativa</a>
              </li>
              <li>
                <a href="#!" class="text-white">Contacto</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Aspirantes</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Modelo Educativo</a>
              </li>
              <li>
                <a href="#!" class="text-white">Oferta Educativa</a>
              </li>
              <li>
                <a href="#!" class="text-white">Admisiones</a>
              </li>
              <li>
                <a href="#!" class="text-white">Contáctanos</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Descargas</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Calendario escolar</a>
              </li>
              <li>
                <a href="#!" class="text-white">Reglamento escolar</a>
              </li>
              <li>
                <a href="#!" class="text-white">Reglamento de laboratorios</a>
              </li>
              <li>
                <a href="#!" class="text-white">Manual de imagen de la UTL</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
  
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2023 Copyright:
      <a class="text-white" href="https://www.utleon.edu.mx/">utleon.edu.mx</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
